<h2 class="page-header">Visualizar dados</h2>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a ui-sref="proposals.list">Atividades</a></li>
  <li class="active">Visualizar</li>
</ol>


<fieldset class="detail">
  <legend>Dados atividade</legend>
  <div class="row">
    <div class="col-sm-12">
    <table class="table table-borderless table-responsive">
      <tbody>
        <tr>
          <th translate>Código:</th>
          <td>{{ proposal.id }}</td>
        </tr>
        <tr>
          <th translate>Tipo da atividade:</th>
          <td>{{ proposal.type | humanize }}</td>
        </tr>
        <tr>
          <th translate>Título:</th>
          <td>{{ proposal.title}}</td>
        </tr>
       <tr>
          <th translate>Área:</th>
          <td>{{ proposal.track.zone  }}</td>
       </tr>
       <tr>
          <th translate>Trilha:</th>
          <td>{{ proposal.track.track  }}</td>
       </tr>
       <tr>
          <th translate>Status:</th>
          <td>{{ proposal.status  | humanize }}</td>
       </tr>
       <tr>
         <th translate>Autor:</th>
         <td><a ui-sref="accounts.detail({id: proposal.owner.id})">{{ proposal.owner.name }}</a></td>
       </tr>
       <tr class="coauthors">
        <th translate>Co-autores</th>
        <td class="coauthors">
        <span ng-show="invites.length == 0">Sem co-autores</span>
        <div ng-repeat="invite in invites">
          <a ui-sref="accounts.detail({id: invite.account_id})">{{ invite.name }}</a>
          <p class="text-muted">{{invite.email}}</p>
          <p>({{ invite.status }})</p>
        </div>
      </td>
      </tr>
       <tr>
        <th translate>Língua</th>
        <td>{{ proposal.language }}</td>
       </tr>
       <tr>
        <th translate>Nível</th>
        <td>{{ proposal.level }}</td>
       </tr>
       <tr>
        <th translate>Criado em...</th>
        <td>{{ proposal.created }}</td>
       </tr>
       <tr>
        <th translate>Descrição</th>
        <td >{{ proposal.full }}</td>
      </tr>
      <tr ng-show="proposal.type == 'workshop'">
          <th translate>Necessidades</th>
          <td>{{proposal.demands}}</td>
      </tr>
      <tr ng-show="proposal.type == 'workshop'">
          <th translate>Carga horária:</th>
          <td>{{proposal.expected_duration}}</td>
      </tr>
      <tr>
          <th translate>Restrições:</th>
          <td> {{proposal.restrictions}}</td>
      </tr>
      <tr>
        <th>Tags:</th>
        <td>
          <span ng-repeat="tag in proposal.tags" class="tag {{tag}}">
            <span class="label label-default">{{ tag }}</span>
          </span>
        </td>
      </tr>
      <th translate>Agendamentos:</th>
      <td>
        <span ng-hide="proposal.slots.length == 0">Não possui</span>
        <div ng-repeat="slot in proposal.slots">
          Dia
          <b>{{ slot.begins | date_locale }}</b> às
          <b>{{ slot.begins | time_locale }}</b>
          (sala <b> {{ slot.room }}</b>)
          <span>{{ slot.status }}</span>
        </div>
      </td>
      </tr>
      </tbody>
     </table>

    <a role="button" class="btn btn-primary" ui-sref="proposals.edit({id:proposal.id})">Editar</a>
