<h3 ng-hide="proposals.length == 0">
  {{ proposals.length }} propostas encontradas...
</h3>
<table class="proposals" ng-hide="proposals.length == 0">
  <col class="id" />
  <col class="tags" />
  <col class="status" />
  <col class="track" />
  <col class="title" />
  <col class="authors" />
  <thead>
    <tr>
      <th translate>id</th>
      <th translate>tags</th>
      <th translate>situação</th>
      <th translate>trilha</th>
      <th translate>título</th>
      <th translate>autores</th>
    </tr>
  </thead>
  <tr class="master" ng-repeat="proposal in proposals | orderBy:'id'">
    <td class="id">{{ proposal.id }}</td>
    <td class="tags">
      <span class="{{tag}}" ng-repeat="tag in proposal.tags">{{ tag }}</span>
	</td>
	<td class="status">
	  <span class="status {{proposal.status}}">{{ proposal.status }}</span>
    </td>
    <td class="track">
      <div class="track">{{ proposal.track.track }}</div>
      <div class="zone">{{ proposal.track.zone }}</div>
    </td>
    <td class="title">
      <a ui-sref="proposals.detail({id: proposal.id})">
        {{ proposal.title }}
      </a>
    </td>
    <td class="authors">
      <div class="owner">
        {{ proposal.owner.name }}
      </div>
      <div class="coauthors">
        <span class="info" ng-show="proposal.coauthors.length == 0">sem co-autores</span>
        <a ng-repeat="coauthor in proposal.coauthors">
          {{ coauthor.name }}
        </a>
      </div>
    </td>
  </tr>
</table>
