main.proposals {
  .filter.by-search {
    form {
      position: fixed;
      top: 35px;
      width: 75%;
      z-index: 10;

      input {
        font-size: xx-large;
        width: 100%;
      }
    }
  }

  .filter.by-group {
    position: fixed;
    top: 35px;
    left: 0px;
    width: 10rem;
    z-index: 10;
    border: 1px solid gray;

    ul.zones {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        &.header {
          background: gray;
          color: white;
          font-size: large;
          text-align: center;
        }
      }

      ul.tracks {
        list-style: none;
        margin: 0px;
        padding: 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &>li {
          font-size: small;
          color: gray;
        }
      }
    }
  }

  .content.by-search {
    border: 1px solid black;
    position: absolute;
    margin-top: 50px;
  }
  .content.by-group {
    border: 1px solid black;
    position: absolute;
    margin-left: 1rem;
  }

}

table.proposals {
  border-collapse: collapse;

  col.id      { width: 2rem; }
  col.status  { width: 4rem; }
  col.track   { width: 10rem; }
  col.title   { width: 20rem; }
  col.authors { width: 20rem; }

  thead {
    th {
      font-size: large;
      background: lightgray;
      color: black;
      text-align: left;
    }
  }

  tbody {
    tr:nth-child(odd) {
      background: #eee;
    }
    td {
      border-bottom: 1px dotted gray;
      border-right: 1px dotted lightgray;
      padding: 3px;

      &.id    { font-size: small; }
      &.authors {
        .info { color: orange; }
        .coauthors {
          font-size: small;
          color: gray;

          a::after { content: ','; }
          a:last-child::after { content: ''; }
        }
      }
      .zone { font-size: small; color: gray; }
    }
  }

}
