@import 'modules/common/mixins.scss';

main.proposals {
  .filter.by-search {
    form {
      position: fixed;
      top: 35px;
      width: 75%;
      z-index: 10;

      input {
        font-size: xx-large;
        width: 100%;
      }
    }
  }

  .filter.by-group {
    position: fixed;
    top: 35px;
    left: 0px;
    width: 10rem;
    z-index: 10;
    border: 1px solid gray;

    ul.zones {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        &.header {
          background: gray;
          color: white;
          font-size: large;
          text-align: center;
        }
      }

      ul.tracks {
        list-style: none;
        margin: 0px;
        padding: 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &>li {
          font-size: small;
          color: gray;

        }
      }
    }
  }

  .content.by-search {
    border: 1px solid black;
    position: absolute;
    margin-top: 50px;
  }
  .content.by-group {
    border: 1px solid black;
    position: absolute;
    margin-left: 1rem;
  }


  .tags span, span.status {
    display: inline-block;
    padding: 0.1em 0.3em;
    border-radius: 5px;
    font-size: small;
    background: gray;
    color: white;

    &.rejected  { background: lightpink; color: black; }
    &.declined  { background: lightpink; color: black; }
    &.marked    { background: yellow;    color: black; }
    &.pending   { background: yellow;    color: black; }
    &.confirmed { background: green;     color: black; }
    &.approved  { background: blue;      color: white; }
    &.proposal  { display: none; }
  }


  .detail {
    header {
      .id {
        float: left;
        font-size: 300%;
        background: gray;
        color: white;
        margin-right: 10px;
        padding: 10px;
      }
      .title {
        font-size: 200%;
      }
      .track {
        .area {
          font-size: 120%;
        }
        .zone {
          font-size: 80%;
          color: gray;
        }
      }
      .tags .tag {
        padding: 0.5em 1em;
      }
      .status {
        float: right;
        font-size: 200%;
        padding: 1rem;

        &.rejected  { background: lightpink; color: black; }
        &.declined  { background: lightpink; color: black; }
        &.marked    { background: yellow;    color: black; }
        &.pending   { background: yellow;    color: black; }
        &.confirmed { background: green;     color: black; }
        &.approved  { background: blue;      color: white; }
        &.proposal  { display: none; }
      }
    }
    .data {
      clear: left;
      border-collapse: collapse;
      tr {
        th {
          width: 5rem;
          vertical-align: top;
        }
        th, td {
          padding: 10px;
          border-bottom: 1px dotted lightgray;
        }

        .full { white-space: pre-wrap; }
      }
    }
  }

}

table.proposals {
  border-collapse: collapse;

  col.id      { width: 2rem; }
  col.tags    { width: 8rem; }
  col.status  { width: 4rem; }
  col.track   { width: 10rem; }
  col.title   { width: 20rem; }
  col.authors { width: 20rem; }

  thead {
    th {
      font-size: large;
      background: lightgray;
      color: black;
      text-align: left;
    }
  }

  tbody {
    tr:nth-child(odd) {
      background: #eee;
    }
    td {
      border-bottom: 1px dotted gray;
      border-right: 1px dotted lightgray;
      padding: 3px;

      &.id    { font-size: small; }
      &.authors {
        .info { color: orange; }
        .coauthors {
          font-size: small;
          color: gray;

          a::after { content: ','; }
          a:last-child::after { content: ''; }
        }
      }
      .zone { font-size: small; color: gray; }
    }
  }

}

.proposal-edit {
  .owner, .coauthors {
    .id {
      background: gray;
      padding: 0 5px;
      color: white;
    }
    input {
      margin-bottom: 15px;
      width: 50%;
      float: left;
    }
    div {
      margin-left: 11.2rem;
    }
  }

}
