<fieldset class="detail">
  <legend>dados participante</legend>

  <img gravatar-src="account.email" gravatar-size="100">
  <header>
    <div class="name">{{ account.name }}</div>
    <div class="email">{{ account.email }}</div>

    <div class="badges">
      <span class="paid"      ng-show="account.has_valid_purchases"       translate>pago</span>
      <span class="leader"    ng-show="account.links.caravans.count == 1" translate>líder</span>
      <span class="proposals" ng-show="account.links.proposals.count > 0"
            translate translate-n="account.links.proposals.count" translate-plural="{{$count}} propostas">
                {{ account.links.proposals.count }} proposta
      </span>
    </div>
  </header>

  <table class="personal">
    <tr>
      <th translate>criado em...</th>
      <td>{{ account.created }}</td>
    </tr>
    <tr>
      <th translate>documento</th>
      <td>{{ account.document }}</td>
    </tr>
    <tr>
      <th translate>cidade / país</th>
      <td>{{ account.city }} / {{ account.country }}</td>
    </tr>
    <tr>
      <th translate>organização</th>
      <td>{{ account.organization }}</td>
    </tr>
    <tr>
      <th translate>telefone</th>
      <td>{{ account.phone }}</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>ingressos deste participante</legend>

  <table class="purchases">
    <col class="id" />
    <col class="status" />
    <col class="category" />
    <col class="price" />
    <col class="buyer" />
    <col class="created" />
    <tr>
      <th translate>id</th>
      <th translate>situação</th>
      <th translate>categoria</th>
      <th translate>valor</th>
      <th translate>comprador</th>
      <th translate>iniciada em</th>
      <th translate>pagamentos</th>
    </tr>
    <tr class="master" ng-repeat-start="purchase in purchases">
      <td class="id">{{ purchase.id }}</td>
      <td class="status">{{ purchase.status }}</td>
      <td class="category">{{ purchase.product.category }}</td>
      <td class="price">{{ purchase.product.price }}</td>
      <td class="buyer">{{ purchase.buyer.name }}</td>
      <td class="created">{{ purchase.created }}</td>
      <td class="payments" ng-click="showPaymentsOf(purchase)"
        translate translate-n="purchase.links.payments.count"
        translate-plural="{{$count}} tentativas">
        1 tentativa
      </td>
    </tr>
    <tr class="details" ng-repeat-end ng-show="paymentsOf[purchase.id]">
      <td colspan="6">
        <table class="payments">
          <col class="id"/>
          <col class="type"/>
          <col class="status"/>
          <col class="amount"/>
          <col class="our_number"/>
          <col class="due_date"/>
          <col class="reference"/>
          <tr>
            <th translate>id</th>
            <th translate>tipo</th>
            <th translate>situação</th>
            <th translate>valor</th>
            <th translate>nosso número</th>
            <th translate>vencimento</th>
            <th translate>referência</th>
          </tr>
          <tr class="payment" ng-repeat="payment in paymentsOf[purchase.id]">
            <td>{{ payment.id }}</td>
            <td>{{ payment.type }}</td>
            <td>{{ payment.status }}</td>
            <td>{{ payment.amount }}</td>
            <td>{{ payment.our_number }}</td>
            <td>{{ payment.due_date }}</td>
            <td>
              {{ payment.reference }}
              <a ng-show="payment.document_hash" target="_blank"
                href="{{CONFIG.API_HOST}}/api/documents/boleto-{{ payment.document_hash}}">cópia
              </a>
            </td>
          </tr>
        </table>
      </td>

    </tr>
  </table>
</fieldset>
