<div class="account-lookup" ng-if="!owner">

   <input type="text"
          placeholder="Buscar por nome/email"
          class="form-control"
          ng-model="query.needle"
          ng-model-options="{ debounce: 300 }"
          typeahead-no-results="noResults"
          typeahead-on-select='select($item)'
          uib-typeahead="entry as (entry.name +' '+entry.email) for entry in perform()">

    <div ng-hide="noResults" class="help-block">
         <a ui-sref="accounts.create" target="_blank">Cadastrar pessoa</a>
    </div>

  </ul>
</div>
