<div class="row" ng-if="!owner">

   <div class="col-sm-6">
     <input type="text"
            placeholder="Buscar por nome/email"
            class="form-control"
            ng-model="query.name"
            ng-model-options="{ debounce: 500 }"
            typeahead-min-length="3"
            typeahead-no-results="noResults"
            typeahead-on-select='select($item)'
            uib-typeahead="entry as (entry.name +' '+entry.email) for entry in perform($viewValue)">
    </div>

    <div class="col-sm-6">
      <a class="btn btn-default"
         uib-tooltip="Cadastrar nova conta"
         ui-sref="accounts.create" target="_blank">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
    </div>

</div>
