<form class="query">
  <input type="text"
         ng-model="query.needle" focusable
         ui-keypress="{ 'enter': 'doSearch()' }"
  />
</form>

<table class="result" ng-show="accounts.length">
  <tr>
    <th translate class="name">nome</th>
    <th translate class="email">e-mail</th>
    <th translate class="document">documento</th>
    <th translate class="city">cidade</th>
  </tr>
  <tr ng-repeat="account in accounts">
    <td>
      {{ account.name }}
      <span class="paid"   ng-show="account.has_valid_purchases" translate>pago</span>
      <span class="leader" ng-show="account.links.caravans.count == 1" translate>líder</span>
    </td>
    <td>{{ account.email }}</td>
    <td>{{ account.document }}</td>
    <td>{{ account.city }}</td>
  </tr>
</table>

