main.accounts {
  form {
    position: fixed;
    top: 35px;
    width: 75%;
    z-index: 10;

    input {
      font-size: xx-large;
      width: 100%;
    }
  }

  .back {
    position: absolute;
    left: -5em;

    button {
      border: 0;
      padding: 1em;
      &:before {
        content: '◀';
        font-size: 70%;
        padding-right: 1em;
      }
    }
  }

  .result {
    position: absolute;
    margin-top: 50px;

    col.name     { width: 30rem; }
    col.email    { width: 15rem; }
    col.document { width: 8rem; }
    col.city     { width: 15rem; }

    thead {
      th {
        font-size: large;
        background: gray;
        color: white;
      }
    }

    tbody {
      tr:nth-child(odd) { background: #ccc; }

      td {
        padding: 0.5em 0.1em;
      }

    }
  }

  .badges span {
    display: inline-block;
    padding: 0.1em 0.3em;
    border-radius: 5px;
    font-size: small;

    &.paid      { background: green;     color: white; }
    &.leader    { background: lightpink; color: black; }
    &.proposals { background: orange;    color: black; }
  }


  .detail {
    img {
      margin: 0.5em;
      float: left;
    }
    header {
      .name, .email, .badges {
        padding: 0.2em;
      }
      .name {
        font-size: xx-large;
      }
      .email {
        font-size: x-large;
      }
    }
    table.personal {
      clear: both;
    }
  }

  table.purchases {
    border-collapse: collapse;

    col.id       { width: 3rem; }
    col.status   { width: 5rem; }
    col.category { width: 7rem; }
    col.price    { width: 6rem; }
    col.buyer    { width: 15rem; }
    col.created  { width: 18rem; }

    thead {
      th {
        font-size: large;
        background: gray;
        color: white;
      }
    }

    tbody {
      tr.master[ng-repeat-start] > td {
        padding: 0.5em 0.1em;
        border-top: 2px solid black;
      }
      tr.child[ng-repeat-end] td {
        padding: 0 3em;
        ul { margin: 0; padding: 0 1em; }
      }
    }
  }

  table.payments {
    margin-left: 5em;
    border-collapse: collapse;
    col.id         { width: 2rem; }
    col.type       { width: 6rem; }
    col.status     { width: 6rem; }
    col.amount     { width: 6rem; }
    col.our_number { width: 8rem; }
    col.due_date   { width: 8rem; }
    col.reference  { width: 10rem; }
    td {
      border: 1px dotted gray;
      text-align: center;
    }

  }

  [ui-sref] {
    cursor: hand;
  }
}
