@import 'modules/common/mixins.scss';
main.accounts {
  form.query {
    position: fixed;
    top: 35px;
    width: 75%;
    z-index: 10;

    input {
      font-size: xx-large;
      width: 100%;
    }
  }


  .result {
    position: absolute;
    margin-top: 50px;

    col.id       { width:  3rem; }
    col.category { width:  4rem; }
    col.status   { width:  4rem; }
    col.name     { width: 20rem; }
    col.email    { width: 15rem; }
    col.document { width:  7rem; }
    col.city     { width:  7rem; }

    thead {
      th {
        font-size: large;
        background: gray;
        color: white;
      }
    }

    tbody {
      tr:nth-child(odd) { background: #ccc; }

      td {
        padding: 0.5em 0.1em;

        &.id, &.category, &.status {
          text-align: center;
        }

        &.status-paid    { background-color: green;     color: white; }
        &.status-pending { background-color: lightpink; color: black; }

        &.city { width: 7rem; @include ellipsis; }
      }

    }
  }

  .badges span {
    display: inline-block;
    padding: 0.1em 0.3em;
    border-radius: 5px;
    font-size: small;

    &.admin     { background: red;       color: white; }
    &.paid      { background: green;     color: white; }
    &.leader    { background: lightpink; color: black; }
    &.proposals { background: orange;    color: black; }
  }


  .detail {
    img {
      margin: 0.5em;
      float: left;
    }
    header {
      .identifier {
        float: right;
        font-size: 300%;
        background: gray;
        color: white;
        padding: 1rem;
      }
      .name, .email, .badges {
        padding: 0.2em;
      }
      .name {
        font-size: xx-large;
      }
      .email {
        font-size: x-large;
      }
    }
    table.personal {
      clear: both;

      col.key { width: 10rem; }
      col.value { width: 20rem; }
      col.large { width: 30rem; }

    }
  }

}

[ui-sref] {
  cursor: hand;
}

.account-lookup {
  .results {
    border: 1px solid gray;
    width: 50%;
    margin-top: 1.7rem;
    margin-left: 1rem;
    background: white;
    padding: 0 0;
    position: absolute;

    li {
      @include ellipsis;
      list-style: none;
      margin: 0;
      padding: 0 1rem;

      &.selected { background: lightgreen; }
    }
  }
}

.ngdialog-theme-default.dialog-account-create {
  .ngdialog-content {
    width: 80vw;
  }
  label {
    width: 12rem;
    small {
      margin: 0;
    }
  }
  aside.action {
    position: relative;
    background: initial;
    border: initial;
    box-shadow: initial;
    text-align: center;
    width: 100%;
  }
}

