main.accounts {
  form {
    position: fixed;
    top: 35px;
    width: 75%;
    z-index: 10;

    input {
      font-size: xx-large;
      width: 100%;
    }
  }


  .result {
    position: absolute;
    margin-top: 50px;

    col.name     { width: 30rem; }
    col.email    { width: 15rem; }
    col.document { width: 8rem; }
    col.city     { width: 15rem; }

    thead {
      th {
        font-size: large;
        background: gray;
        color: white;
      }
    }

    tbody {
      tr:nth-child(odd) { background: #ccc; }

      td {
        padding: 0.5em 0.1em;
      }

    }
  }

  .badges span {
    display: inline-block;
    padding: 0.1em 0.3em;
    border-radius: 5px;
    font-size: small;

    &.paid      { background: green;     color: white; }
    &.leader    { background: lightpink; color: black; }
    &.proposals { background: orange;    color: black; }
  }


  .detail {
    img {
      margin: 0.5em;
      float: left;
    }
    header {
      .name, .email, .badges {
        padding: 0.2em;
      }
      .name {
        font-size: xx-large;
      }
      .email {
        font-size: x-large;
      }
    }
    table.personal {
      clear: both;

	  col.key { width: 10rem; }
	  col.value { width: 20rem; }
	  col.large { width: 30rem; }

    }
  }

}

[ui-sref] {
  cursor: hand;
}
