<h2 class="page-header">Notificações</h2>

<div>
  <strong>Mostrar:</strong>
  [
  <a ui-sref="notifications({ kind: 'call', statusName: 'confirmed'})">só confirmadas</a> |
  <a ui-sref="notifications({ kind: 'call', statusName: 'pending'}  )">só pendentes</a>   |
  <a ui-sref="notifications({ kind: 'call', statusName: 'declined'} )">só declinadas</a>  |
  <a ui-sref="notifications({ kind: 'call', statusName: 'expired'} )">só expiradas</a>
  ]
</div>

<p class="" ng-show="statusName">
  Mostrando <b>{{ notifications.length }}</b> notificações
  do tipo <b>{{ kind }}</b> com status <b>{{ statusName }}</b>
</p>

<p class="instructions" ng-hide="statusName">
  selecione um status acima
</p>

<hr>

<table class="table table-striped table-condensed" ng-hide="notifications.length == 0">
  <thead>
    <tr>
      <th translate>Id</th>
      <th translate>Status</th>
      <th translate>Envio/prazo</th>
      <th translate class="title">
          <span>Título</span>
          <small>
              [
              <a ng-click="setCurrentFilter()">todos</a>|
              <a ng-click="setCurrentFilter('none')">não-alocados</a>({{ count.none }}) |
              <a ng-click="setCurrentFilter('confirmed')">alocados</a>({{count.confirmed}})   
              ]
          </small>
      </th>
      <th translate>Autor</th>
    </tr>
  </thead>
  <tr class="master" ng-repeat="notification in notifications | orderBy:'proposal' | filterByStatus:currentFilter">
    <td class="id">{{ notification.proposal_id }}</td>
    <td class="status">
      <span class="status {{notification.status}}">{{ notification.status }}</span>
    </td>
    <td class="sent">
      {{ notification.sent }}<br/>{{ notification.deadline }}
      <span class="expired" ng-show="notification.is_expired">expirado</span>
    </td>
    <td class="title">
      <a ui-sref="proposals.detail({id: notification.proposal_id})" target="blank_">
        {{ notification.proposal }}
      </a>
        <div ng-repeat="slot in notification.slots">
          sala <b> {{ slot.room }}</b>,
          dia <b>{{ slot.begins | date_locale }}</b>,
          às <b>{{ slot.begins | time_locale }}</b>
          <span class="status {{slot.status}}">{{ slot.status }}</span>
      </div>
    </td>
    <td class="authors">
      {{ notification.author }}
    </td>
  </tr>
</table>
