@import 'modules/common/mixins.scss';

main.notifications {
  .summary {
    border: 1px solid blue;
    background: lightblue;
    padding: 1em;
    width: 50%;
  }
  .instructions {
    border: 1px solid red;
    background: lightpink;
    padding: 1em;
    width: 50%;
  }

  table.notifications {
    table-layout: fixed;
    border-collapse: collapse;

    td.id,       col.id       { width: 2rem; max-width: 2rem; }
    td.status,   col.status   { width: 4rem; max-width: 4rem; }
    td.sent,     col.sent     { width: 8rem; max-width: 8rem; }
    td.title,    col.title    { width: 35rem; max-width: 35rem; }
    td.authors,  col.authors  { width: 10rem; max-width: 10rem; }

	th.title small {
		color: gray;
		font-size: small;
		float: right;
		a { color: blue; cursor: pointer; }
	}

    .status span, .deadline span, .title .status {
      display: inline-block;
      padding: 0.1em 0.3em;
      border-radius: 5px;
      font-size: small;
      background: gray;
      color: white;

      &.declined  { background: lightpink; color: black; }
      &.pending   { background: yellow;    color: black; }
      &.confirmed { background: green;     color: white; }
      &.expired   { background: orange;    color: black; }
    }
    .title, .authors { @include ellipsis; }

    .sent, .deadline {
      font-size: small;
    }

    thead {
      th {
        font-size: large;
        background: lightgray;
        color: black;
        text-align: left;
      }
    }

    tbody {
      tr:nth-child(odd) {
        background: #eee;
      }
      td {
        border-bottom: 1px dotted gray;
        border-right: 1px dotted lightgray;
        padding: 10px 3px;

        &.id    { font-size: small; }
      }
    }

  }
}
