<h3 ng-hide="ranking.length == 0">
  Trilha: {{ track.name_pt }} ({{ ranking.length }} propostas)
  <small>marcadas = {{ marked }}</small>
</h3>

<table class="calls" ng-hide="ranking.length == 0">
  <col class="id" />
  <col class="tags" />
  <col class="global" />
  <col class="track" />
  <col class="title" />
  <col class="authors" />
  <thead>
    <tr>
      <th translate>id</th>
      <th translate>tags</th>
      <th translate>ordem global</th>
      <th translate>ordem trilha</th>
      <th translate>título</th>
      <th translate>autores</th>
    </tr>
  </thead>
  <tr class="master" ng-repeat="ranked in ranking">
    <td class="id">{{ ranked.id }}</td>
    <td class="tags">
      <span class="tag {{tag}}" ng-repeat="tag in ranked.tags">{{ tag }}</span>
    </td>
    <td class="global">{{ ranked.ranking }}</td>
    <td class="track">
      <span ng-show="ranked.ranking == 0" translate>pré-selecionado</span>
      <span ng-hide="ranked.ranking == 0">{{ $index+1 }}º
    </td>
    <td class="title">
      <a ui-sref="proposals.detail({id: ranked.id})" target="blank_">
        {{ ranked.title }}
      </a>
    </td>
    <td class="authors">
      {{ ranked.author }}
    </td>
    <td class="actions">
      <button ng-click="tagAs(ranked.id, 'marked')" translate>marcar classificado</button>
      <button ng-click="untag(ranked.id, 'marked')" translate>remover marcação</button>
    </td>
  </tr>
</table>
