<h2 class="page-header" translate>Buscar código promocional</h2>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active" translate>Códigos promocionais</li>
</ol>

<form class="form">

  <div class="row">
      
    <div class="form-group col-md-4">
      <label><span translate>Código promocional:</span></label>
      <input type="text"
          class="form-control"
          ng-model="query.hash_code" focusable
          ui-keypress="{ 'enter': 'doSearch()' }"/>
    </div>

    <div class="form-group col-md-6">
      <label><span translate>Descrição:</span></label>
      <input type="text"
          class="form-control"
          ng-model="query.description" focusable
          ui-keypress="{ 'enter': 'doSearch()' }"/>
    </div>

  </div>

</form>

<table ng-table="promocodeTable" class="table table-striped table-condensed" ng-show="promocodeTable.data.length > 0">
  <tr ng-repeat="promocode in $data track by promocode.id">
      <td data-title="'#'">{{promocode.id}}</td>
      <td data-title="'Código'">{{promocode.hash_code}}</td>
      <td data-title="'Desconto'">{{promocode.discount | number}}</td>
      <td data-title="'Descrição'">{{promocode.description }}</td>
      <td data-title="'Produto'">{{promocode.product.description }}</td>
      <td data-title="'Status'">
          <span ng-show="promocode.spent_with" class="id">{{ promocode.spent_with.id }}</span>
          <span ng-show="promocode.spent_with" class="name">
            <a ui-sref="accounts.by_purchase({ id: promocode.spent_with.id })">{{ promocode.spent_with.name }}</a>
          </span>
          <span ng-hide="promocode.spent_with" class="available">
            disponível
          </span>
      </td>
      <td data-title="'Criador'">
          {{ promocode.creator.name }}
      </td>
    </tr>
</table>