<h2 class="page-header">
    <span ng-show="state.name == 'promocodes.create'">Criar código promocional</span>
    <span ng-show="state.name == 'promocodes.edit'">Editar dados</span>
</h2>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a ui-sref="promocodes.list">Códigos promocionais</a></li>
  <li class="active">
      <span ng-show="state.name == 'promocodes.create'">Criar</span>
      <span ng-show="state.name == 'promocodes.edit'">Editar</span>
  </li>
</ol>

<form novalidate id="account_form" name="account_form" class="form">

    <fieldset>
      <legend>Código promocional</legend>

      <div class="form-group has-feedback">
          <label class="required">
            <span translate>Descrição:</span>
          </label>
          <input type="text"
                 maxlength="80"
                 ng-model="promocode.description"
                 class="form-control"/>
          <span field-error="description"></span>
      </div>

      <div class="form-group has-feedback">
          <label class="required">
            <span translate>Produto habilitado:</span>
          </label>
          <select ng-model="promocode.product_id"
                  ng-options="p.id as p.description for p in products"
                  class="form-control">
            <option value="" ng-hide="promocode.product_id" translate>Escolha um produto</option>
          </select>
          <span field-error="product_id"></span>
      </div>

      <div class="form-group has-feedback">
          <label class="required">
            <span translate>Quantidade:</span>
          </label>
          <input type="number"
                 placeholder="padrão: 1"
                 class="form-control"
                 ng-model="promocode.quantity">
          <span field-error="quantity"></span>       
      </div>

      <div class="form-group has-feedback">
        <label>
          <span translate>Desconto:</span>
        </label>
        <input type="number"
               placeholder="padrão: 100%"
               class="form-control"
               ng-model="promocode.discount">
        <span field-error="discount"></span>         
      </div>

  </fieldset>


  <div class="text-center">
    <button
            class="btn btn-primary"
            ng-click="submit()" translate>
      Criar código
    </button>
  </div>



</form>
