<form novalidate id="account_form" name="account_form" class="lines">
  <p>
    <label class="notip">
      <span translate>descrição</span>
    </label>
    <input placeholder="descrição obrigatória" type="text"
           required focusable minlength="5" maxlength="80" ng-model="promocode.description"/>
    <span form-error="description.object_required" translate>por favor, descreva o código promocional</span>
  </p>

  <p>
    <label class="notip" translate>produto habilitado</label>
    <select ng-model="promocode.product_id" ng-options="p.id as p.description for p in products">
      <option class="empty" value="" ng-hide="promocode.product_id" translate>escolha um produto</option>
    </select>
    <span form-error="product_id.object_required" translate>por favor, selectione um produto</span>
    <span form-error="product_id.invalid_type" translate>por favor, informe um produto válido</span>
  </p>



  <p>
    <label class="notip">
      <span translate>quantidade</span>
    </label>
    <input class="short" placeholder="padrão: 1" type="number"
           ng-model="promocode.quantity" min="1" max="100" required>
    <i class="fa fa-check"></i>
    <span form-error="quantity.object_required" translate>por favor, informe a quantidade</span>
  </p>

  <p>
    <label class="notip">
      <span translate>desconto</span>
    </label>
    <input class="short" placeholder="padrão: 100%" type="number"
           ng-model="promocode.discount" min="0" max="100" required>
    <i class="fa fa-check"></i>
    <span form-error="quantity.object_required" translate>por favor, informe a porcentagem do desconto</span>
  </p>

  <aside class="action">
    <button ng-click="submit()" translate>
      criar código
    </button>
  </aside>
</form>
