@import 'modules/common/mixins.scss';

main.promocodes {
  form.query {
    position: fixed;
    top: 35px;
    width: 75%;
    z-index: 10;

    input {
      font-size: xx-large;
      width: 100%;
    }
  }
}
main.promocodes-list {
  top: 5em;

  h3 {
    float: left;
  }
  .actions {
    float: right;
    button {
      font-size: xx-large;
    }
  }

  .result {
    clear: both;

    col.id          { width: 2rem; }
    col.hash_code   { width: 7rem; }
    col.discount    { width: 3rem; }
    col.description { width: 18rem; }
    col.product     { width: 12rem; }
    col.status      { width: 15rem; }
    col.creator     { width: 10rem; }

    thead {
      th {
        font-size: large;
        background: gray;
        color: white;
      }
    }

    tbody {
      tr:nth-child(odd) { background: #ccc; }

      td {
        padding: 0.5em 0.1em;
      }

      .id, .hash_code, .discount { text-align: center; }
      .description small { float: right; }
      .status {
        .name      { color: black; }
        .available { color: green; }
        .id        {
          display: inline-block;
          color: black;
          background-color: white;
          width: 3rem;
          padding: auto;
        }
      }
    }
  }
}
main.promocodes-create, main.promocodes-edit {
  input.short {
    width: 10rem;
  }
}

[ui-sref] {
  cursor: hand;
}
