table.tournaments, table.rounds, table.standings {
  border-collapse: collapse;

  col.id        { width: 2rem; }
  col.selection { width: 9rem; }
  col.status    { width: 9rem; }
  col.round     { width: 9rem; }

  col.judged     { width: 9rem; }
  col.inprogress { width: 9rem; }
  col.pending    { width: 9rem; }

  col.pos       { width: 3rem; }
  col.points    { width: 2rem; }
  col.victories { width: 2rem; }
  col.ties      { width: 2rem; }
  col.defeats   { width: 2rem; }

  thead {
    th {
      font-size: large;
      background: lightgray;
      color: black;
      text-align: left;
    }
  }

  tbody {
    tr:nth-child(odd) {
      background: #eee;
    }
    td {
      border-bottom: 1px dotted gray;
      border-right: 1px dotted lightgray;
      padding: 3px;

      &.id    { font-size: small; }
    }
  }

  &.standings tbody {
    .position, .pointing { text-align: center; }
    .proposal {
      .id { background: yellow; padding: 1px 5px; }
      .zone { font-size: small; color: gray; }
    }
  }

}
