<!--
<div class="hours-row" >
  <div class="hour hour-{{hour}}" ng-repeat="hour in hours">{{ hour }}:00</div>
</div>
-->

<div class="container-fluid">

  <div class="col-sm-3" ng-repeat="room in rooms">
    <div class="panel panel-default">
      <div class="panel-heading">
        Sala
      </div>

      <div class="panel-body">
        <p><strong>Nome:</strong>{{ room.name }}</p>
        <p><strong>Capacidade:</strong>{{ room.capacity }}</p>
        <div class="text-center">
          <button class="btn btn-primary btn-sm"
                ng-click="reloadRoom(room)" class="reload">Recarregar</button>
          <div>
            <img src="images/loading.gif" ng-hide="slotsOfRoom[room.id]"/>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="slots">
  <div class="slot-line" ng-repeat="room in rooms">
    <ng-include src="'modules/Schedule/schedule.slot.html'"/>
  </div>
</div>
