<img class="logo" ng-click="home()" src="/images/logo-fisl-small.png"/>
<h1 ng-click="home()">
  segue - admin
</h1>  
<div class="days">
  <div class="day" ng-repeat="day in days">
    <button ng-class="{ current: day == currentDay }"
            ui-sref="schedule.grid({day: day})">{{ day }}</button>
    <div class="situation">
      <b>situação:</b><br/>
      - ocupado e bloqueado:                  {{ situation.slots[day].used_blocked }}<br/>
      - ocupado e não-bloqueado:              {{ situation.slots[day].used_non_blocked }}<br/>
      - não-ocupado e bloqueado:              {{ situation.slots[day].free_blocked }}<br/>
      - não-ocupado e não bloqueado (livres): <b>{{ situation.slots[day].free_non_blocked }}</b><br/>
    </div>
  </div>
  <div class="sum">total de livres: {{ sum_free_non_blocked }}</div>
</div>
<div class="proposals">
  <div class="situation">
    <b>palestras confirmadas:</b><br/>
    já alocadas={{ situation.proposals.slotted }}<br/>
    alocação pendente={{ situation.proposals.pending }}
  </div>
</div>
