table.purchases {
  border-collapse: collapse;

  col.id       { width: 3rem; }
  col.status   { width: 5rem; }
  col.category { width: 8rem; }
  col.price    { width: 4rem; }
  col.buyer    { width: 12rem; }
  col.created  { width: 13rem; }
  col.payments { width: 10rem; }

  thead {
    th {
      font-size: large;
      background: lightgray;
      color: black;
      text-align: left;
    }
  }

  tbody {
    tr.master[ng-repeat-start] > td {
      padding: 0.5em 0.1em;
      border-top: 2px solid black;
    }
    tr.child[ng-repeat-end] td {
      padding: 0 3em;
      ul { margin: 0; padding: 0 1em; }
    }
    td.payments a {
      cursor: pointer;
      font-size: small;
      color: blue;
    }
  }
}

table.payments {
  margin-left: 5em;
  border-collapse: collapse;
  col.id         { width: 2rem; }
  col.type       { width: 6rem; }
  col.status     { width: 6rem; }
  col.amount     { width: 6rem; }
  col.our_number { width: 8rem; }
  col.due_date   { width: 8rem; }
  col.reference  { width: 10rem; }
  td {
    border: 1px dotted gray;
    text-align: center;
  }

}


